<% layout('/layouts/boilerplate') %>
    <!-- <img src="<%=course.image%>" alt="" style="width: 100%; height: 200px;"> -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1 class="display-4">
                        <%= course.title %>
                    </h1>
                    <p class="lead">
                        <%= course.description %>
                    </p>
                    <p class="text-muted">
                        Added By: <%=course.author.username %>
                    </p>
                </div>
                <% if(currentUser&&course.author.equals(currentUser._id)){ %> 
                <div class="col-6">
                    <div class="d-flex align-items-end flex-column bd-highlight justify-content-between">
                        <div class="p-2 bd-highlight">
                            <a href="/courses/<%=course._id%>/edit" class="btn btn-info" style="width:200px;">Edit
                                Course</a>
                        </div>
                        <div class="p-2 bd-highlight">
                            <form action="/courses/<%=course._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger mx-0" style="width:200px;">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %> 
            </div>
            <hr class="my-4">
        </div>
    </div>
    <% if(currentUser){ %> 
    <form action="/courses/<%=course._id%>/materials/new">
        <button class="btn btn-dark mb-3">Add More Material</button>
    </form>
    <% } %>
    <div class="mb-4">
    <form action="/courses/<%=course._id%>/search" method="POST" class="d-flex">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>
    </div>
    <% for(let material of course.materials){ %>
        <div class="card mb-3">
            <div class="card-body">
            <p class="card-title">Description : <%= material.description %> </p>
            <p class="card-subtitle text-muted">AddedBy : <%= material.author.email %> </p>
            <p class="card-subtitle text-muted my-1">FileName : <%= material.files.originalname %> </p>
            <% if(currentUser&&material.author.equals(currentUser._id)){ %>
            <form action="/courses/<%=course._id%>/materials/<%=material._id%>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %>
                <button class="btn btn-success my-2" onclick=" window.open('<%=material.files.url%>','_blank')">Download</button>
            </div>
        </div>
    <% } %> 
    <footer>
        <a href="/courses" class="btn btn-warning my-2">Back To All Courses</a>
    </footer>